<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tourm - Travel & Tour Booking Agency HTML Template - Shops</title>
    <meta name="author" content="Tourm">
    <meta name="description" content="Tourm - Travel & Tour Booking Agency HTML Template ">
    <meta name="keywords" content="Tourm - Travel & Tour Booking Agency HTML Template ">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons - Place favicon.ico in the root directory -->

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
	  Google Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&family=Montez&display=swap"
        rel="stylesheet">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">

    <!-- Swiper css -->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>

</head>

<body>

    <!--[if lte IE 9]>
    	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  	<![endif]-->


    <!--********************************
   		Code Start From Here 
	******************************** -->

    <div class="magic-cursor relative z-10">
        <div class="cursor"></div>
        <div class="cursor-follower"></div>
    </div>


    <!--==============================
     Preloader
  ==============================-->
    <div id="preloader" class="preloader ">
        <button class="th-btn preloaderCls">Cancel Preloader </button>
        <div class="preloader-inner">
            <img src="assets/img/logo3.svg" alt="">
        </div>

        <div id="loader" class="th-preloader">
            <div class="animation-preloader">
                <div class="txt-loading">
                    <span preloader-text="T" class="characters">T </span>

                    <span preloader-text="O" class="characters">O </span>

                    <span preloader-text="U" class="characters">U </span>

                    <span preloader-text="R" class="characters">R </span>

                    <span preloader-text="M" class="characters">M </span>
                </div>
            </div>
        </div>

    </div><!--==============================
        Mobile Menu
    ============================== -->
    <div class="th-menu-wrapper onepage-nav">
        <div class="th-menu-area text-center">
            <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
                <a href="index.html"><img src="assets/img/logo2.svg" alt="Tourm"></a>
            </div>
            <div class="th-mobile-menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="destination.html">Destination</a></li>
                    <li class="menu-item-has-children">
                        <a href="#">Shop</a>
                        <ul class="sub-menu">
                            <li><a href="#/">Shop</a></li>
                            <li><a href="#/cart">Cart</a></li>
                        </ul>
                    </li>
                    <!-- <li><a href="error.html">Error Page</a></li> -->
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="about.html">About Us</a></li>
                </ul>
            </div>
        </div>
    </div><!--==============================
    	Header Area
    ==============================-->
    <header class="th-header header-layout1">
        <div class="header-top">
            <div class="container th-container">
                <div class="row justify-content-center justify-content-xl-between align-items-center">
                    <div class="col-auto d-none d-md-block">
                        <div class="header-links">
                            <ul>
                                <li class="d-none d-xl-inline-block"><i
                                        class="fa-sharp fa-regular  fa-location-dot"></i>
                                    <span>45 New Eskaton Road, Austria</span>
                                </li>
                                <li class="d-none d-xl-inline-block"><i class="fa-regular fa-clock"></i>
                                    <span>Sun to Friday: 8.00 am - 7.00 pm</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="header-right">
                            <div class="header-links">
                                <a href="#login-form" class="popup-content">Sign In / Register<i
                                        class="fa-regular fa-user"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sticky-wrapper">
            <!-- Main Menu Area -->
            <div class="menu-area">
                <div class="container th-container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo">
                                <a href="index.html"><img src="assets/img/logo.svg" alt="Tourm"></a>
                            </div>
                        </div>
                        <div class="col-auto me-xl-auto">
                            <nav class="main-menu d-none d-xl-inline-block">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="destination.html">Destination</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Shop</a>
                                        <ul class="sub-menu">
                                            <li><a href="#/">Shop</a></li>
                                            <li><a href="#/cart">Cart</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="about.html">About Us</a></li>
                                </ul>
                            </nav>
                            <button type="button" class="th-menu-toggle d-block d-xl-none"><i
                                    class="far fa-bars"></i></button>
                        </div>
                        <div class="col-auto d-none d-xl-block">
                            <div class="header-button">
                                <a href="#booking" class="th-btn style3 th-icon">Book Now</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="logo-bg" data-mask-src="assets/img/logo_bg_mask.png"></div>
            </div>
        </div>
    </header>

    <div id="app">

        <router-view></router-view>
    </div>

    <script type="module">
        import { getProducts } from './js/shop.js';
        import { getProduct } from './js/shop.js';
        import { addTocart } from './js/shop.js';
        import lodash from 'https://cdn.jsdelivr.net/npm/lodash@4.17.21/+esm'
        import { updateCart } from './js/shop.js'
        import { totalUpdate } from './js/shop.js'
        import { insertOrder } from './js/shop.js'
        window.accessControl = Vue.reactive({
            canAccessCheckout: false
        });
        const prod_view = {
            template: `
            <div class="breadcumb-wrapper " style="background-image:url(assets/img/bg/breadcumb-bg.jpg)">
                <div class="container">
                    <div class="breadcumb-content">
                        <h1 class="breadcumb-title">Shops</h1>
                        <ul class="breadcumb-menu">
                            <li><a href="index.html">Home</a></li>
                            <li>Shops</li>
                        </ul>
                    </div>
                </div>
            </div>
            <section class="space-top space-extra-bottom">
                <div class="container">
                    <div class="row gy-40">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade active show" id="tab-grid" role="tabpanel" aria-labelledby="tab-shop-grid">
                                <div class="row gy-40">
                                    <div v-for="(item, index) in prod" :key="index" class="col-xl-3 col-sm-6">
                                        <div class="th-product product-grid">
                                            <div class="product-img">
                                                <img :src="item.img1" alt="Product Image">
                                                <div class="actions">
                                                    <router-link :to="{ name: 'prod_detail', params: { id: item.id } }">
                                                        <div class="icon-btn popup-content"><i class="far fa-eye"></i></div>
                                                    </router-link>
                                                    <div class="icon-btn" @click="addProd(item)"><i class="far fa-cart-plus"></i></div>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <router-link :to="{ name: 'prod_detail', params: { id: item.id } }">{{ item.name }}</router-link>
                                                </h3>
                                                <span class="price">$ {{ item.price }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            `,
            data() {
                return {
                    prod: [],
                }
            },
            methods: {
                addProd(item) {
                    addTocart(item, 1, "existIncrease");
                },
            },
            async mounted() {
                try {
                    this.prod = await getProducts();
                } catch (error) {
                    console.log(error);
                }
            }
        };

        const prod_detail = {
            template: `
            <div class="breadcumb-wrapper " style="background-image:url(assets/img/bg/breadcumb-bg.jpg)">
                <div class="container">
                    <div class="breadcumb-content">
                        <h1 class="breadcumb-title">Product</h1>
                        <ul class="breadcumb-menu">
                            <li><a href="index.html">Home</a></li>
                            <li><router-link to="/">Shops</router-link></li>
                            <li>Product</li>
                        </ul>
                    </div>
                </div>
            </div>
            <section class="product-details space-top space-extra-bottom">
                <div class="container">
                    <div class="row gx-60">
                        <div class="col-lg-6">
                            <div class="product-big-img">
                                <div class="img"><img :src="prod.imgs[0]" alt="Product Image"></div>
                            </div>
                        </div>
                        <div class="col-lg-6 align-self-center">
                            <div class="product-about">
                                <p class="price">$ {{prod.price}}</p>
                                <h2 class="product-title">{{prod.name}}</h2>
                                <div class="actions">
                                    <div class="quantity">
                                        
                                        <input type="number" class="qty-input" :value="qty">
                                        <button class="quantity-plus qty-btn" @click="qtyIncrease"><i class="far fa-chevron-up"></i></button>
                                        <button class="quantity-minus qty-btn"@click="qtyDecrease" ><i class="far fa-chevron-down"></i></button>
                                    </div>
                                    <button class="th-btn" @click="updateCart">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            `,
            data() {
                return {
                    prod: {
                        id: 0,
                        name: "",
                        price: 0,
                        imgs: [],
                    },
                    qty: 1,

                }
            },
            methods: {
                qtyIncrease() {
                    this.qty < 99 ? this.qty++ : this.qty--;
                },
                qtyDecrease() {
                    this.qty > 1 ? this.qty-- : this.qty = 1;
                },
                updateCart() {
                    addTocart(this.prod, this.qty, "Increase");
                }
            },
            async mounted() {
                let prod = await getProduct(this.$route.params.id);
                this.prod.id = prod.id;
                this.prod.name = prod.name;
                this.prod.price = prod.price;
                this.prod.imgs = [prod.img1, prod.img2, prod.img3];
                const cart = JSON.parse(localStorage.getItem("cart"));
                this.qty = cart.find(obj => obj.id === this.prod.id).qty;
            },
        }
        const cart_view = {
            template: `
            <div class="breadcumb-wrapper " style="background-image:url(assets/img/bg/breadcumb-bg.jpg)">
                <div class="container">
                    <div class="breadcumb-content">
                        <h1 class="breadcumb-title">Cart</h1>
                        <ul class="breadcumb-menu">
                            <li><a href="index.html">Home</a></li>
                            <li><router-link to="/">Shops</router-link></li>
                            <li>Cart</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="th-cart-wrapper" style="padding-top:40px">
                <div class="container">
                    <div class="woocommerce-notices-wrapper">
                        <div class="woocommerce-message">Shipping costs updated.</div>
                    </div>
                    <form class="woocommerce-cart-form">
                        <table class="cart_table">
                            <thead>
                                <tr>
                                    <th class="cart-col-image">圖片</th>
                                    <th class="cart-col-productname">商品名稱</th>
                                    <th class="cart-col-price">單價</th>
                                    <th class="cart-col-quantity">數量</th>
                                    <th class="cart-col-total">價格</th>
                                    <th class="cart-col-remove">移除</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="cart item" v-for="(item,index) in cart" :key="index">
                                    <td data-title="Product">
                                        <router-link :to="{ name: 'prod_detail', params: { id: item.id }}">
                                            <img width="91" height="91" :src="item.imgs" alt="Image">
                                        </router-link>
                                    </td>
                                        <td data-title="Name">
                                            <router-link :to="{ name: 'prod_detail', params: { id: item.id }}">
                                            {{item.name}}
                                            </router-link>
                                        </td>
                                    <td data-title="Price">
                                        <span class="amount"><bdi><span>$</span>{{item.price}}</bdi></span>
                                    </td>
                                    <td data-title="Quantity">
                                        <div class="quantity">
                                            <button class="quantity-minus qty-btn" @click="qtyDecrease(item)"><i class="far fa-minus"></i></button>
                                            <input type="number" class="qty-input" :value="item.qty">
                                            <button class="quantity-plus qty-btn" @click="qtyIncrease(item)"><i class="far fa-plus"></i></button>
                                        </div>
                                    </td>
                                    <td data-title="Total">
                                        <span class="amount"><bdi><span>$</span>{{item.qty * item.price}}</bdi></span>
                                    </td>
                                    <td data-title="Remove">
                                        <i class="remove fal fa-trash-alt" @click="removeProd(item)"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="actions">
                                        <router-link to="/">
                                            <div class="th-btn">Continue Shopping</div>
                                        </router-link>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>

                    <div class="row justify-content-end">
                        <div class="col-md-8 col-lg-7 col-xl-6">
                            <h2 class="h4 summary-title">Cart Totals</h2>
                            <table class="cart_totals">
                                <tfoot>
                                    <tr class="order-total">
                                        <td>Order Total</td>
                                        <td data-title="Total">
                                            <strong><span class="amount"><bdi><span>$</span>{{total}}</bdi></span></strong>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                            
                            <div class="wc-proceed-to-checkout mb-30">
                                <router-link to="" @click="proceedToCheckout()">
                                    <div class="th-btn">
                                        Proceed to checkout
                                    </div>
                                </router-link>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            `,
            data() {
                return {
                    cart: [],
                    total: 0
                }
            },
            methods: {
                qtyIncrease(item) {
                    item.qty < 99 ? item.qty++ : item.qty--;
                    this.total = totalUpdate(this.cart);
                },
                qtyDecrease(item) {
                    item.qty > 1 ? item.qty-- : item.qty = 1;
                    this.total = totalUpdate(this.cart);
                },
                removeProd(item) {
                    updateCart(item, "remove");
                    this.cart = JSON.parse(localStorage.getItem('cart'));
                    this.total = totalUpdate(this.cart);
                },
                proceedToCheckout() {


                    if (!lodash.isEmpty(localStorage.getItem('cart'))) {
                        localStorage.setItem('cart', JSON.stringify(this.cart));
                        window.accessControl.canAccessCheckout = true;
                        this.$router.push("/checkout");
                    } else {
                        alert('購物車是空的，請先添加商品。');
                    }
                }
            },
            mounted() {
                this.cart = JSON.parse(localStorage.getItem("cart"));
                console.log(this.cart);
                this.total = totalUpdate(this.cart);
            },
        };
        const chekcout = {
            template: `
            <div class="breadcumb-wrapper " style="background-image:url(assets/img/bg/breadcumb-bg.jpg)">
                <div class="container">
                    <div class="breadcumb-content">
                        <h1 class="breadcumb-title">Checkout</h1>
                        <ul class="breadcumb-menu">
                            <li><a href="index.html">Home</a></li>
                            <li><router-link to="/">Shops</router-link></li>
                            <li>checkout</li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="th-checkout-wrapper">
                <div class="container">
                    <div class="woocommerce-checkout mt-40">
                        <div class="row ">
                            <div class="col-lg-6">
                                <h2 class="h4">會員資料</h2>
                                <div class="row">
                                    <div class="col-md-6 form-group has-label">
                                        <label>姓名</label>
                                        <input type="text" class="form-control" v-model="memb.name" readonly>
                                    </div>
                                    
                                    <div class="col-md-6 form-group has-label">
                                        <label>住址</label>
                                        <input type="text" class="form-control"  v-model="memb.shipaddr" readonly>
                                    </div>
                                    <div class="col-md-6 form-group has-label">
                                        <label>信箱</label>
                                        <input type="email" class="form-control" v-model="memb.email" readonly>
                                    </div>
                                    <div class="col-md-6 form-group has-label">
                                        <label>電話</label>
                                        <input type="text" class="form-control" v-model="memb.phone" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <h2 class="h4 d-inline-block">收件人資料</h2>
                                <div class="form-check d-inline-block ml-3">
                                    <input class="form-check-input" type="checkbox" id="customCheckbox" v-model="checked">
                                    <label class="form-check-label" for="customCheckbox">同會員資料</label>
                                </div>
                                <div class="shipping_address">
                                    <div class="row">
                                        <div class="col-md-6 form-group has-label">
                                            <label>姓名</label>
                                            <input type="text" class="form-control" v-model="cust.name" placeholder="姓名" >
                                        </div>
                                        <div class="col-md-6 form-group has-label">
                                            <label>住址</label>
                                            <input type="text" class="form-control" v-model="cust.shipaddr" placeholder="收件地址">
                                        </div>
                                        <div class="col-md-6 form-group has-label">
                                            <label>信箱</label>
                                            <input type="email" class="form-control" v-model="cust.email" placeholder="Email">
                                        </div>
                                        <div class="col-md-6 form-group has-label">
                                            <label>電話</label>
                                            <input type="text" class="form-control" v-model="cust.phone" placeholder="電話">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="mt-4 pt-lg-2">訂單</h4>
                    <form action="#" class="woocommerce-cart-form">
                        <table class="cart_table mb-20">
                            <thead>
                                <tr>
                                    <th class="cart-col-image">圖片</th>
                                    <th class="cart-col-productname">商品名稱</th>
                                    <th class="cart-col-price">單價</th>
                                    <th class="cart-col-quantity">數量</th>
                                    <th class="cart-col-total">價格</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="cart item" v-for="(item,index) in cart" :key="index">
                                    <td data-title="Product">
                                        <router-link :to="{ name: 'prod_detail', params: { id: item.id }}">
                                            <img width="91" height="91" :src="item.imgs" alt="Image">
                                        </router-link>
                                    </td>
                                        <td data-title="Name">
                                            <router-link :to="{ name: 'prod_detail', params: { id: item.id }}">
                                            {{item.name}}
                                            </router-link>
                                        </td>
                                    <td data-title="Price">
                                        <span class="amount"><bdi><span>$</span>{{item.price}}</bdi></span>
                                    </td>
                                    <td data-title="Quantity">
                                        <strong class="product-quantity">{{item.qty}}</strong>
                                    </td>
                                    <td data-title="Total">
                                        <span class="amount"><bdi><span>$</span>{{item.qty * item.price}}</bdi></span>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot class="checkout-ordertable">
                                <tr class="order-total">
                                    <th>Total</th>
                                    <td data-title="Total" colspan="4"><strong><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>{{total}}</bdi></span></strong>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </form>
                    <div class="mt-lg-3 mb-30">
                        <div class="woocommerce-checkout-payment">
                            <ul class="wc_payment_methods payment_methods methods">
                                <li class="wc_payment_method payment_method_cod">
                                    <input id="payment_method_cod" type="radio" class="input-radio" v-model="paymentcheck">
                                    <label for="payment_method_cod">Credit Cart</label>
                                </li>
                            </ul>
                            <div class="form-row place-order">
                                <button @click="order" class="th-btn">下訂</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            `,
            data() {
                return {
                    memb: {
                        id: 1,
                        name: "測試",
                        shipaddr: "123",
                        email: "google",
                        phone: "0123456789"
                    },
                    cust: {
                        name: "非會員",
                        shipaddr: "非會員",
                        email: "kiki77",
                        phone: "0979"
                    },
                    payment: "credit",
                    paymentcheck: false,
                    cart: [],
                    checked: false,
                    total: 0
                }
            },
            methods: {
                custDataClear() {
                    this.cust.name = "";
                    this.cust.shipaddr = "";
                    this.cust.email = "";
                    this.cust.phone = "";
                },
                order(event) {

                    if (!this.checked) {
                        const orderData = {
                            status: "未付款",
                            payment: this.payment,
                            name: this.cust.name,
                            email: this.cust.email,
                            tell: this.cust.phone,
                            addr: this.cust.shipaddr,
                            amount: this.total,
                        };
                        insertOrder(orderData);
                    }
                    else {
                        const orderData = {
                            membId: this.memb.id,
                            status: "未付款",
                            payment: this.payment,
                            name: this.memb.name,
                            email: this.memb.email,
                            tell: this.memb.phone,
                            addr: this.memb.shipaddr,
                            amount: this.total,
                        };
                        insertOrder(orderData);
                    }
                }
            },
            mounted() {
                this.cart = JSON.parse(localStorage.getItem("cart"));
                this.total = totalUpdate(this.cart);
                window.accessControl.canAccessCheckout = false;
            },

        }
        const ordercomplete = {
            template: `
            <div class="breadcumb-wrapper " style="background-image:url(assets/img/bg/breadcumb-bg.jpg)">
                <div class="container">
                    <div class="breadcumb-content">
                        <h1 class="breadcumb-title">Checkout</h1>
                        <ul class="breadcumb-menu">
                            <li><a href="index.html">Home</a></li>
                            <li><router-link to="/">Shops</router-link></li>
                            <li>checkout</li>
                        </ul>
                    </div>
                </div>
            </div>
            `
        }
        const routes = [
            { path: '/views', name: 'views', component: prod_view },
            { path: '/detail/:id', name: 'prod_detail', component: prod_detail },
            { path: '/cart', name: 'cart', component: cart_view },
            { path: '/checkout', name: 'checkout', component: chekcout },
            { path: '/ordercomplete', name: 'ordercomplete', component: ordercomplete },
            { path: '/', redirect: '/views' }
        ];


        const router = VueRouter.createRouter({
            history: VueRouter.createWebHashHistory(),
            routes
        })
        router.beforeEach((to, from, next) => {
            if (to.name === 'checkout' || to.name === 'ordercomplete') {
                if (accessControl.canAccessCheckout) {
                    next();
                } else {
                    alert('請從購物車頁面進行結帳。');
                    next({ name: 'cart' });
                }
            } else {
                next();
            }
        });

        const app = Vue.createApp({})
        app.use(router)
        app.mount('#app')
    </script>


    <!-- <section class="space-top space-extra-bottom">
        <div class="container">
            <div class="row gy-40">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade active show" id="tab-grid" role="tabpanel"
                        aria-labelledby="tab-shop-grid">
                        <div class="row gy-40">
                            <div class="col-xl-3 col-sm-6">
                                <div class="th-product product-grid">
                                    <div class="product-img">
                                        <img src="assets/img/product/product_1_8.png" alt="Product Image">
                                        <span class="product-tag">Sale</span>
                                        <div class="actions">
                                            <a href="#Qucikview" class="icon-btn popup-content"><i
                                                    class="far fa-eye"></i></a>
                                            <a href="cart.html" class="icon-btn"><i class="far fa-cart-plus"></i></a>
                                            <a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="product-title"><a href="shop-details.html">V-Neck T-Shirt</a></h3>
                                        <span class="price">$35.00</span>
                                        <div class="woocommerce-product-rating">
                                            <span class="count">(5.00 Review)</span>
                                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                                <span>Rated <strong class="rating">5.00</strong> out of 5 based on <span
                                                        class="rating">1</span> customer rating</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section> -->
    <!--==============================
	Footer Area
==============================-->
    <footer class="footer-wrapper bg-title footer-layout2">
        <div class="widget-area">
            <div class="container">
                <div class="newsletter-area">
                    <div class="newsletter-top">
                        <div class="row gy-4 align-items-center">
                            <div class="col-lg-5">
                                <h2 class="newsletter-title text-white text-capitalize mb-0">get updated the latest
                                    newsletter</h2>
                            </div>
                            <div class="col-lg-7">
                                <form class="newsletter-form style2">
                                    <input class="form-control " type="email" placeholder="Enter Email" required="">
                                    <button type="submit" class="th-btn style1">Subscribe Now <img
                                            src="assets/img/icon/plane2.svg" alt=""></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-md-6 col-xl-3">
                        <div class="widget footer-widget">
                            <div class="th-widget-about">
                                <div class="about-logo">
                                    <a href="home-travel.html"><img src="assets/img/logo-white.svg" alt="Tourm"></a>
                                </div>
                                <p class="about-text">Rapidiously myocardinate cross-platform intellectual capital
                                    model. Appropriately create interactive infrastructures</p>
                                <div class="th-social">
                                    <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="https://www.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
                                    <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title">Quick Links</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">

                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About us</a></li>
                                    <li><a href="service.html">Our Service</a></li>
                                    <li><a href="contact.html">Terms of Service</a></li>
                                    <li><a href="contact.html">Tour Booking Now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget footer-widget">
                            <h3 class="widget_title">Get In Touch</h3>
                            <div class="th-widget-contact">
                                <div class="info-box_text">
                                    <div class="icon">
                                        <img src="assets/img/icon/phone.svg" alt="img">
                                    </div>
                                    <div class="details">
                                        <p><a href="tel:+01234567890" class="info-box_link">+01 234 567 890</a></p>
                                        <p><a href="tel:+09876543210" class="info-box_link">+09 876 543 210</a></p>
                                    </div>
                                </div>
                                <div class="info-box_text">
                                    <div class="icon">
                                        <img src="assets/img/icon/envelope.svg" alt="img">
                                    </div>
                                    <div class="details">
                                        <p><a href="mailto:mailinfo00@tourm.com"
                                                class="info-box_link">mailinfo00@tourm.com</a></p>
                                        <p><a href="mailto:support24@tourm.com"
                                                class="info-box_link">support24@tourm.com</a></p>
                                    </div>
                                </div>
                                <div class="info-box_text">
                                    <div class="icon"><img src="assets/img/icon/location-dot.svg" alt="img"></div>
                                    <div class="details">
                                        <p>789 Inner Lane, Holy park, California, USA</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget footer-widget">
                            <h3 class="widget_title">Instagram Post</h3>
                            <div class="sidebar-gallery">
                                <div class="gallery-thumb">
                                    <img src="assets/img/widget/gallery_1_1.jpg" alt="Gallery Image">
                                    <a target="_blank" href="https://www.instagram.com/" class="gallery-btn"><i
                                            class="fab fa-instagram"></i></a>
                                </div>
                                <div class="gallery-thumb">
                                    <img src="assets/img/widget/gallery_1_2.jpg" alt="Gallery Image">
                                    <a target="_blank" href="https://www.instagram.com/" class="gallery-btn"><i
                                            class="fab fa-instagram"></i></a>
                                </div>
                                <div class="gallery-thumb">
                                    <img src="assets/img/widget/gallery_1_3.jpg" alt="Gallery Image">
                                    <a target="_blank" href="https://www.instagram.com/" class="gallery-btn"><i
                                            class="fab fa-instagram"></i></a>
                                </div>
                                <div class="gallery-thumb">
                                    <img src="assets/img/widget/gallery_1_4.jpg" alt="Gallery Image">
                                    <a target="_blank" href="https://www.instagram.com/" class="gallery-btn"><i
                                            class="fab fa-instagram"></i></a>
                                </div>
                                <div class="gallery-thumb">
                                    <img src="assets/img/widget/gallery_1_5.jpg" alt="Gallery Image">
                                    <a target="_blank" href="https://www.instagram.com/" class="gallery-btn"><i
                                            class="fab fa-instagram"></i></a>
                                </div>
                                <div class="gallery-thumb">
                                    <img src="assets/img/widget/gallery_1_6.jpg" alt="Gallery Image">
                                    <a target="_blank" href="https://www.instagram.com/" class="gallery-btn"><i
                                            class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-6">
                        <p class="copyright-text">Copyright 2024 <a href="home-travel.html">Tourm</a>. All Rights
                            Reserved.</p>
                    </div>
                    <div class="col-md-6 text-end d-none d-md-block">
                        <div class="footer-card">
                            <span class="title">We Accept</span>
                            <img src="assets/img/shape/cards.png" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="shape-mockup movingX d-none d-xxl-block" data-top="24%" data-left="5%">
            <img src="assets/img/shape/shape_8.png" alt="shape">
        </div>
    </footer>

    <!--==============================
            modal Area
==============================-->
    <div id="login-form" class="popup-login-register mfp-hide">
        <ul class="nav" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-menu" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                    type="button" role="tab" aria-controls="pills-home" aria-selected="false">Login</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-menu active" id="pills-profile-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                    aria-selected="true">Register</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <h3 class="box-title mb-30">Sign in to your account</h3>
                <div class="th-login-form">
                    <form action="mail.php" method="POST" class="login-form ajax-contact">
                        <div class="row">
                            <div class="form-group col-12">
                                <label>Username or email</label>
                                <input type="text" class="form-control" name="email" id="email" required="required">
                            </div>
                            <div class="form-group col-12">
                                <label>Password</label>
                                <input type="password" class="form-control" name="pasword" id="pasword"
                                    required="required">
                            </div>

                            <div class="form-btn mb-20 col-12">
                                <button class="th-btn btn-fw th-radius2 ">Send Message</button>
                            </div>
                        </div>
                        <div id="forgot_url">
                            <a href="my-account.html">Forgot password?</a>
                        </div>
                        <p class="form-messages mb-0 mt-3"></p>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade active show" id="pills-profile" role="tabpanel"
                aria-labelledby="pills-profile-tab">
                <h3 class="th-form-title mb-30">Sign in to your account</h3>
                <form action="mail.php" method="POST" class="login-form ajax-contact">
                    <div class="row">
                        <div class="form-group col-12">
                            <label>Username*</label>
                            <input type="text" class="form-control" name="usename" id="usename" required="required">
                        </div>
                        <div class="form-group col-12">
                            <label>First name*</label>
                            <input type="text" class="form-control" name="firstname" id="firstname" required="required">
                        </div>
                        <div class="form-group col-12">
                            <label>Last name*</label>
                            <input type="text" class="form-control" name="lastname" id="lastname" required="required">
                        </div>
                        <div class="form-group col-12">
                            <label for="new_email">Your email*</label>
                            <input type="text" class="form-control" name="new_email" id="new_email" required="required">
                        </div>
                        <div class="form-group col-12">
                            <label for="new_email_confirm">Confirm email*</label>
                            <input type="text" class="form-control" name="new_email_confirm" id="new_email_confirm"
                                required="required">
                        </div>
                        <div class="statement">
                            <span class="register-notes">A password will be emailed to you.</span>
                        </div>

                        <div class="form-btn mt-20 col-12">
                            <button class="th-btn btn-fw th-radius2 ">Sign up</button>
                        </div>
                    </div>
                    <p class="form-messages mb-0 mt-3"></p>
                </form>
            </div>
        </div>
    </div>

    <!--==============================
    All Js File
============================== -->
    <!-- Jquery -->
    <!-- Jquery -->
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- Swiper Js -->
    <script src="assets/js/swiper-bundle.min.js"></script>
    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Magnific Popup -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Counter Up -->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <!-- Range Slider -->
    <script src="assets/js/jquery-ui.min.js"></script>
    <!-- imagesloaded -->
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- isotope -->
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <!-- gsap -->
    <script src="assets/js/gsap.min.js"></script>

    <!-- circle-progress -->
    <script src="assets/js/circle-progress.js"></script>

    <script src="assets/js/matter.min.js"></script>
    <!-- nice select -->
    <script src="assets/js/nice-select.min.js"></script>




    <!-- Main Js File -->
    <script src="assets/js/main.js"></script>
</body>

</html>